version: "3.8"

services:
  training:
    build: .
    container_name: radar-training
    command: dvc repro
    volumes:
      - .:/app
      - ./data:/app/data
    environment:
      DAGSHUB_USERNAME: ${DAGSHUB_USERNAME}
      DAGSHUB_TOKEN: ${DAGSHUB_TOKEN}
      ENABLE_MLFLOW: "true"
    deploy: {}
    runtime: nvidia
    gpus: all

  jupyter:
    build: .
    container_name: radar-jupyter
    command: >
      jupyter notebook
      --ip=0.0.0.0
      --port=8888
      --allow-root
      --no-browser
    ports:
      - "8888:8888"
    volumes:
      - .:/app
    environment:
      DAGSHUB_USERNAME: ${DAGSHUB_USERNAME}
      DAGSHUB_TOKEN: ${DAGSHUB_TOKEN}
      ENABLE_MLFLOW: "true"

