name: Radar MLOps Pipeline

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:

# ---------------- TEST ---------------- #

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}

      - run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - run: pytest tests/ -v


# ---------------- TRAIN ---------------- #

  train:
    needs: test
    runs-on: ubuntu-latest   # change later to GPU runner
    timeout-minutes: 600     # VERY IMPORTANT (large training)

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install dagshub mlflow dvc
          pip install -r requirements.txt


# DOWNLOAD DATASET FROM DAGSHUB BUCKET

      - name: Download Radar Dataset
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          dagshub login --token $DAGSHUB_TOKEN
          dagshub download \
            --bucket shashwatsingh0511/radae_mlops \
            datasets/radar/radar_dataset.tar


#EXTRACT DATA

      - name: Extract dataset
        run: |
          tar -xf radar_dataset.tar
          ls data/raw | head


# TRAIN

      - name: Train Model
        env:
          ENABLE_MLFLOW: "true"
          DAGSHUB_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python radar_mlops.py


# UPLOAD MODEL BACK TO DAGSHUB

      - name: Upload trained model
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          dagshub login --token $DAGSHUB_TOKEN
          dagshub upload \
            --bucket shashwatsingh0511/radae_mlops \
            data/processed models/
